body {
  font-family: "Open Sans", sans-serif;
  background-color: lightgoldenrodyellow; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #f02020; }

header h2 {
  color: #f02020; }

.site-footer {
  background-image: linear-gradient(#f02020, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 1px;
  background-image: linear-gradient(to right, #abd3ab, #d7f0d3, #e7f8b7);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar-dark {
  background-color: #a81010; }

a, a:hover {
  color: inherit; }

.carousel-item {
  width: 100%;
  max-height: 350px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: khaki; }

.carousel {
  border: solid #abd3ab; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#reserveModal .modal-header {
  background-color: #92240988;
  color: white; }

#loginModal .modal-header {
  background-color: #a81010;
  color: white; }
